* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Comic Sans MS';
    padding: 50px;
    background: #edf1f2;
    color: #000;

}

.avtor{
    text-align: right;
    margin-bottom: 30px;

}